manifest {
  description = 'Boilerplate config. Set all items within a profile. The "standard" profile is a default convention.'
}

profiles {
  standard {
    process.executor = 'local'
    workDir = "./work_cache_local"
    docker.enabled = true
    scratch = true
    params.basedir = "./results"
    report.enabled = false
    timeline.enabled = false
    trace {
      enabled = false
      file = 'pipeline_trace.csv'
      fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    }
  }
  slurm {
    process.executor = 'slurm'
    workDir = "./work_cache_slurm"
    docker.enabled = true
    scratch = true
    params.basedir = "./results"
    report.enabled = false
    timeline.enabled = false
    trace {
      enabled = false
      file = 'pipeline_trace.csv'
      fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    }
  }
}

